## Question 1: Reverse List by N Elements

In [1]:
def reverse_in_groups(lst, n):
    result = []
    
    for i in range(0, len(lst), n):
        group = []
        
        for j in range(min(n, len(lst) - i)):
            group.insert(0, lst[i + j])
            
        result.extend(group)
    
    return result

lst = [1, 2, 3, 4, 5, 6, 7, 8]
n = 3
print(reverse_in_groups(lst, n))

[3, 2, 1, 6, 5, 4, 8, 7]

In [2]:
lst = [1, 2, 3, 4, 5]
n = 2
print(reverse_in_groups(lst, n))

[2, 1, 4, 3, 5]

In [3]:
lst = [10, 20, 30, 40, 50, 60, 70]
n = 4
print(reverse_in_groups(lst, n))

[40, 30, 20, 10, 70, 60, 50]

## Question 2: Lists & Dictionaries

In [10]:
length_dict = {}
strings = ["apple", "bat", "car", "elephant", "dog", "bear"]

for string in strings:
    length = len(string)

    if length in length_dict:
        length_dict[length].append(string)
    else:
        length_dict[length] = [string]
        
dict(sorted(length_dict.items()))

{3: ['bat', 'car', 'dog'], 4: ['bear'], 5: ['apple'], 8: ['elephant']}

## Question 3: Flatten a Nested Dictionary

In [11]:
def flatten_dict(d, parent_key='', sep='.'):
    items = []

    for k, v in d.items():
        new_key = f"{parent_key}{sep}{k}" if parent_key else k

        if isinstance(v, dict):
            items.extend(flatten_dict(v, new_key, sep=sep).items())

        elif isinstance(v, list):
            for i, item in enumerate(v):
                list_key = f"{new_key}[{i}]"
                if isinstance(item, dict):
                    items.extend(flatten_dict(item, list_key, sep=sep).items())
                else:
                    items.append((list_key, item))

        else:
            items.append((new_key, v))

    return dict(items)

nested_dict = {
    "road": {
        "name": "Highway 1",
        "length": 350,
        "sections": [
            {
                "id": 1,
                "condition": {
                    "pavement": "good",
                    "traffic": "moderate"
                }
            }
        ]
    }
}

flattened_dict = flatten_dict(nested_dict)
print(flattened_dict)

{'road.name': 'Highway 1', 'road.length': 350, 'road.sections[0].id': 1, 'road.sections[0].condition.pavement': 'good', 'road.sections[0].condition.traffic': 'moderate'}

## Question 4: Generate Unique Permutations

In [24]:
from itertools import permutations
def unique_permutations(lst):
    all_permutations = permutations(lst)
    unique_perms = list(set(all_permutations))
    unique_perms.sort()
    
    return [list(perm) for perm in unique_perms]

dj_list = [1, 1, 2]
result = unique_permutations(dj_list)
for perm in result:
    print(perm)

[1, 1, 2]
[1, 2, 1]
[2, 1, 1]

## Question 5: Find All Dates in a Text

In [14]:
import re

def find_all_dates(text):
    date_pattern = r'\b\d{2}-\d{2}-\d{4}\b|\b\d{2}/\d{2}/\d{4}\b|\b\d{4}\.\d{2}\.\d{2}\b'
    dates = re.findall(date_pattern, text)
    
    return dates

text = "I was born on 23-08-1994, my friend on 08/23/1994, and another one on 1994.08.23."
print(find_all_dates(text))

['23-08-1994', '08/23/1994', '1994.08.23']

## Question 6: Decode Polyline, Convert to DataFrame with Distances

In [16]:
!pip install polyline

Collecting polyline
  Obtaining dependency information for polyline from https://files.pythonhosted.org/packages/d7/4f/fbf07370cbf98af0098de83a26625d29aaa0bf73ef7123b561459729f3e6/polyline-2.0.2-py3-none-any.whl.metadata
  Downloading polyline-2.0.2-py3-none-any.whl.metadata (6.4 kB)
Downloading polyline-2.0.2-py3-none-any.whl (6.0 kB)
Installing collected packages: polyline
Successfully installed polyline-2.0.2

In [21]:
import polyline
import pandas as pd
import math

def haversine(lat1, lon1, lat2, lon2):
    R = 6371000
    phi1 = math.radians(lat1)
    phi2 = math.radians(lat2)
    delta_phi = math.radians(lat2 - lat1)
    delta_lambda = math.radians(lon2 - lon1)

    a = math.sin(delta_phi / 2) ** 2 + math.cos(phi1) * math.cos(phi2) * math.sin(delta_lambda / 2) ** 2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))

    return R * c
def decode_polyline_to_df(polyline_str):
    coordinates = polyline.decode(polyline_str)

    df = pd.DataFrame(coordinates, columns=['latitude', 'longitude'])
    distances = [0]  
    
    for i in range(1, len(df)):
        lat1, lon1 = df.iloc[i-1]['latitude'], df.iloc[i-1]['longitude']
        lat2, lon2 = df.iloc[i]['latitude'], df.iloc[i]['longitude']
        distance = haversine(lat1, lon1, lat2, lon2)
        distances.append(distance)

    df['distance'] = distances
    
    return df

polyline_str = '}_p~F~ps|U_ulLnnqC_mqNvxq`@'
df = decode_polyline_to_df(polyline_str)
print(df)

   latitude  longitude       distance
0  41.86639   -120.200       0.000000
1  44.06639   -120.950  252122.397509
2  46.61839   -126.453  515078.047668

## Question 7: Matrix Rotation and Transformation

In [37]:
# Original matrix
matrix = [[1, 2, 3],
          [4, 5, 6],
          [7, 8, 9]]

n = len(matrix)
rotated_matrix = [[0] * n for _ in range(n)]  # Create an empty n x n matrix

for i in range(n):
    for j in range(n):
        rotated_matrix[j][n - 1 - i] = matrix[i][j]

final_matrix = [[0] * n for _ in range(n)]  # Initialize the transformed matrix

for i in range(n):
    for j in range(n):
        row_sum = sum(rotated_matrix[i])  # Sum of the entire row
        col_sum = sum(rotated_matrix[k][j] for k in range(n))  # Sum of the entire column
        final_matrix[i][j] = row_sum + col_sum - rotated_matrix[i][j]  # Exclude the element itself

print("Rotated Matrix:")
for row in rotated_matrix:
    print(row)

print("\nFinal Transformed Matrix:")
for row in final_matrix:
    print(row)

Rotated Matrix:
[7, 4, 1]
[8, 5, 2]
[9, 6, 3]

Final Transformed Matrix:
[29, 23, 17]
[31, 25, 19]
[33, 27, 21]

## Question 8: Time Check

In [51]:
import pandas as pd

df = pd.read_csv('dataset-1.csv')
df

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3
1,1040010,Black,-1,Monday,10:00:00,Friday,15:00:00,6.0,6.0,-1.0,-1,6,6,6,6
2,1040020,Emerald,-1,Thursday,15:00:00,Friday,19:00:00,3.0,3.0,-1.0,-1,3,3,3,3
3,1040030,Foley,-1,Monday,19:00:00,Friday,23:59:59,6.0,6.0,-1.0,-1,6,6,6,6
4,1050000,Whittier,1050001,Saturday,00:00:00,Sunday,23:59:59,6.0,6.0,NaN,-1,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39509,1031012,Baldwin,1031030,Monday,19:00:00,Friday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39510,1031012,Baldwin,1031032,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39511,1031014,Thickson,1031016,Saturday,00:00:00,Sunday,23:59:59,11.0,11.0,4.0,4,11,11,11,11
39512,1031014,Thickson,1031018,Monday,05:00:00,Wednesday,10:00:00,8.0,8.0,4.0,4,8,8,8,8
39513,1031014,Thickson,1031020,Monday,10:00:00,Friday,15:00:00,11.0,11.0,4.0,4,11,11,11,11

In [53]:
date_format = "%Y-%m-%d" 
time_format = "%H:%M:%S" 

df['start'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'], format=f"{date_format} {time_format}", errors='coerce')
df['end'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'], format=f"{date_format} {time_format}", errors='coerce')

if df['start'].isnull().any() or df['end'].isnull().any():
    print("There were errors in parsing dates. Please check your date/time format and values.")
    print(df[['startDay', 'startTime', 'endDay', 'endTime']][df['start'].isnull() | df['end'].isnull()])

grouped = df.groupby(['id', 'id_2'])

results = []

# Define the starting date for the week
starting_date = pd.Timestamp('2024-01-01')

for (id_val, id_2_val), group in grouped:
    days_covered = set()

    for day_offset in range(7):
        day_start = starting_date + pd.Timedelta(days=day_offset)
        day_end = day_start + pd.Timedelta(days=1) - pd.Timedelta(seconds=1)

        day_data = group[(group['start'] <= day_end) & (group['end'] >= day_start)]
        
        if not day_data.empty and (day_data['start'].min() <= day_start) and (day_data['end'].max() >= day_end):
            days_covered.add(day_start.date())

    all_days_covered = len(days_covered) == 7
    full_24_hour_coverage = (group['end'].max() - group['start'].min()).total_seconds() >= 24 * 3600

    results.append((id_val, id_2_val, not (all_days_covered and full_24_hour_coverage)))

result_series = pd.Series({(id_val, id_2_val): incorrect for id_val, id_2_val, incorrect in results})
result_series.index = pd.MultiIndex.from_tuples(result_series.index, names=['id', 'id_2'])

print(result_series)

There were errors in parsing dates. Please check your date/time format and values.
       startDay startTime     endDay   endTime
0        Monday  05:00:00  Wednesday  10:00:00
1        Monday  10:00:00     Friday  15:00:00
2      Thursday  15:00:00     Friday  19:00:00
3        Monday  19:00:00     Friday  23:59:59
4      Saturday  00:00:00     Sunday  23:59:59
...         ...       ...        ...       ...
39509    Monday  19:00:00     Friday  23:59:59
39510  Saturday  00:00:00     Sunday  23:59:59
39511  Saturday  00:00:00     Sunday  23:59:59
39512    Monday  05:00:00  Wednesday  10:00:00
39513    Monday  10:00:00     Friday  15:00:00

[39514 rows x 4 columns]
id       id_2
1014000  -1          True
1014002  -1          True
1014003  -1          True
1030000  -1          True
          1030002    True
                     ...
1330016   1330006    True
          1330008    True
          1330010    True
          1330012    True
          1330014    True
Length: 9254, dtype: bool